/*MEDIA QUERY*/

@media only screen and (max-width:1200px){   
    .main{
        &__contactContents{
            font-size: 1.125rem;
        }
        &__contactP{
            width: 450px;
        }
        &__envianos{
            font-size: 1.125rem;
        }
        &__form{
            margin-top: 30px;
        }
        &__formItem--size{
            font-size: 1rem;
        }
        &__personaInfo{
            height: 35px;
        }
        &__enviar{
            font-size: 1rem;
            padding: 8px 26px;   
        }
    }
}

@media only screen and (max-width:992px){
    .header{
        height: 80px;
        &__menu{
            .menuLista{
                .menuItem{
                    font-size: 19px;
                }
            }
        }
    }
    .main{
        
        &__banner{
            height: 60vh;
            .main__bannerText{
                font-size: 18px ;
                width: 500px;
                .main__bannerImg{
                    width: 200px;
                }
            }
        }
        &__contact{
            flex-direction: column-reverse;
        }
        &__contactContents{
            width: 100vw;
            font-size: 1rem;
        }
        &__contactP{
            width:400px;
        }
        &__info{
            width: 100vw;
            display: flex;
            align-items: center;
        }
        &__envianos{
            font-size: 16px;
            width: 400px;   
        }
        &__form{
            width: 400px;
        }
        &__formItem--size{
            width: 50%;
            font-size: 1rem;
            padding: 0 10px;
        }
        &__personaInfo{
            height: 35px;
        }
        &__formItem{
            display: block;
            margin-top: 30px;
        }
        &__enviar{
            font-size: 1rem;
            padding: 8px 26px;   
        }
    }
}

@media only screen and (max-width:768px){
    .header{
        justify-content: space-between;
        &__logo{
            margin-left: 40px;
        }
        &__menu{
            .menuRespon{
                margin-right: 40px;
            }
            .menuRespon{
                display: block;
                width: 2.5rem;
                height: 3rem;
            }
            .menuLista{
                flex-direction: column;
                position: absolute;
                top: 80px;
                left: 0;
                width: 100%;
                background-color: #CDD3D5;
                transition: transform 0.5s;
                transform: translateX(-100%);
                border-bottom: 5px solid #75B8C8;
                .menuItem{
                    width: 100%;
                    margin: 0;
                    .itemLink{
                        display: inline-block;
                        padding: 20px 0;
                        text-align: center;
                        width: 100%;
                        border-radius: 0;
                    }
                }
            }
            #menuBar:checked ~ .menuLista{
                transform: translateX(0%);
            }
        }
    }
    .main{
        &__subsection{
            .main__subsectionText{
                width: 80%;
            }
            .main__subsectionImg{
                width: 80%;
                }
            }
        }
        .footer{
            background-color:#75B8C8;
            padding: 30px 0;
            flex-direction: column;
              ul{
                  list-style: none;
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  padding: 0;
                  margin: 0;
                  li{
                      margin: 0 10px;
                      a{
                          img{
                              width: 35px;
                          }
                      }
                  }
              }  
            p{
                font-size: 1rem;
                text-align: center;
                margin: 15px 0;
            }
        }
    }

@media only screen and (max-width:470px){
    .header{
        justify-content: space-between;
        &__logo{
            margin-left: 15px;
        }
        &__menu{
            .menuRespon{
                margin-right: 15px;
            }
        }
    }
    .main{
        &__banner{
            .main__bannerText{
                font-size: 16px ;
                width: 355px;
                .main__bannerImg{
                    width: 150px;
                }
            }
        }
        &__contactContents{
            font-size: 0.875rem;
        }
        &__contactP{
            width:360px;
        }
        &__envianos{
            font-size: 0.875rem;
            width: 360px;   
        }
        &__form{
            width: 360px;
        }
        &__formItem--size{
            font-size: 0.875rem;
        }        
        &__enviar{
            font-size: 0.875rem;
        }
    }


}