/*MEDIA QUERY*/

@media only screen and (max-width:1200px){   
    
    .main{
        &__servicios{
            padding-top: 3rem;
        }
        &__serviciosPrincipales{
            padding: 0 15px 0 15px;
            width: 495px;
        }
    
        &__accordion{
            width: 495px;
        }

        &__camaraService{
            .imagen{
                width: 495px;
            } 
            .texto{
                width: 495px;
            }
        }

        &__contactP{
            width: 450px;
        }
        &__form{
            margin-top: 30px;
        }
        &__formItem--size{
            font-size: 1rem;
        }
        &__personaInfo{
            height: 35px;
        }
        &__enviar{
            font-size: 1rem;
            padding: 8px 26px;   
        }
    }
}

@media only screen and (max-width:992px){
    .header{
        height: 80px;
        &__menu{
            .menuLista{
                .menuItem{
                    font-size: $header-fontSz992;
                }
            }
        }
    }
    .main{
        
        &__banner{
            height: 60vh;
            .main__bannerText{
                font-size: $banner-fontSz992;
                width: 500px;
                .main__bannerImg{
                    width: 200px;
                }
            }
        }

        &__subsection{
            padding: 80px 0;
            .main__subsectionText{
                width: 100%;
                h2{
                    font-size: $h2-fontSz992;
                }
                h3{
                    font-size: $h3-fontSz992;
                }
                p{
                    font-size: $p-fontSz992;
                }
            }
            .main__subsectionImg{
                width: 90%;
            }
            .main__subsectionImgText{
                font-size: $h4-fontSz992;
            }
        }

        &__serviciosPrincipales{
            width: 380px;
        }
    
        &__accordion{
            width: 380px;
        }

        &__camaraService{
            .imagen{
                width: 380px;
            } 
            .texto{
                width: 380px;
            }
        }

        &__contact{
            flex-direction: column-reverse;
        }
        &__contactContents{
            width: 100vw;
            font-size: 1rem;
        }
        &__contactP{
            width:400px;
        }
        &__info{
            width: 100vw;
            display: flex;
            align-items: center;
        }
        &__envianos{
            font-size: 16px;
            width: 400px;   
        }
        &__form{
            width: 400px;
        }
        &__formItem--size{
            width: 50%;
            font-size: 1rem;
            padding: 0 10px;
        }
        &__personaInfo{
            height: 35px;
        }
        &__formItem{
            display: block;
            margin-top: 30px;
        }
        &__enviar{
            font-size: 1rem;
            padding: 8px 26px;   
        } 
        &__galeria{
            max-width: 800px;
        }
            
    }
}

@media only screen and (max-width:767px){
    .header{
        justify-content: space-between;
        &__logo{
            margin-left: 40px;
        }
        &__menu{
            .menuRespon{
                margin-right: 40px;
            }
            .menuRespon{
                display: block;
                width: 2.5rem;
                height: 3rem;
            }
            .menuLista{
                flex-direction: column;
                position: absolute;
                top: 80px;
                left: 0;
                width: 100%;
                background-color: #CDD3D5;
                transition: transform 0.5s;
                transform: translateX(-100%);
                border-bottom: 5px solid #75B8C8;
                .menuItem{
                    width: 100%;
                    margin: 0;
                    .itemLink{
                        display: inline-block;
                        padding: 20px 0;
                        text-align: center;
                        width: 100%;
                        border-radius: 0;
                    }
                }
            }
            #menuBar:checked ~ .menuLista{
                transform: translateX(0%);
            }
        }
    }
    .main{
        &__subsection{
            .main__subsectionText{
                width: 80%;
            }
            .main__subsectionImg{
                width: 80%;
                }
            }
        &__galeria{
            max-width: 600px;
        }
        &__serviciosPrincipales{
            width: 80%;
        }
        
        &__accordion{
            width: 80%;
        }
    
        &__camaraService{
           .imagen{
            width: 80%;
            } 
            .texto{
                width: 80%;
            }
        }  
    }


        .footer{
            .social{
                background-color:#75B8C8;
                padding: 30px 0;
                flex-direction: column;
                  ul{
                      list-style: none;
                      display: flex;
                      flex-direction: row;
                      justify-content: center;
                      padding: 0;
                      margin: 0;
                      li{
                          margin: 0 10px;
                          a{
                              img{
                                  width: 35px;
                              }
                          }
                      }
                  }  
                p{
                    font-size: 1rem;
                    text-align: center;
                    margin: 15px 0;
                }
            }
            }

    }

    

@media only screen and (max-width:470px){
    .header{
        justify-content: space-between;
        &__logo{
            margin-left: 15px;
        }
        &__menu{
            .menuRespon{
                margin-right: 15px;
            }
        }
    }
    .main{
        &__banner{
            .main__bannerText{
                font-size: $banner-fontSz470;
                width: 355px;
                .main__bannerImg{
                    width: 150px;
                }
            }
        }
        &__subsection{
            .main__subsectionText{
                h2{
                    font-size: $h2-fontSz470;
                }
                h3{
                    font-size: $h3-fontSz470;
                }
                p{
                    font-size: $p-fontSz470;
                }
            }
    
            .main__subsectionImgText{
                font-size: $h4-fontSz470;
            }

    }
}
}