/* RESET */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #CDD3D5;
  position: relative;
}

/* FUENTE */
* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*HEADER*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #CDD3D5;
  position: fixed;
  width: 100%;
  height: 90px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  -webkit-box-shadow: 0 1px 10px #220C10;
          box-shadow: 0 1px 10px #220C10;
  font-weight: 600;
}

.header__logo {
  height: 100%;
}

.header__logo img {
  height: 100%;
  padding: 10px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu .menuRespon {
  display: none;
  width: 3.125rem;
  height: 50px;
  cursor: pointer;
}

.header__menu #menuBar {
  display: none;
}

.header__menu .menuLista {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.header__menu .menuLista .menuItem {
  font-size: 1.313rem;
  margin: 0 5px;
}

.header__menu .menuLista .menuItem .itemLink {
  text-decoration: none;
  color: #220C10;
  padding: 7px 10px 10px 10px;
  border-radius: 5px;
}

.header__menu .menuLista .menuItem .itemLink:hover {
  background-color: #75B8C8;
  -webkit-transition: background 0.3s , color 0.4s;
  transition: background 0.3s , color 0.4s;
  color: #CDD3D5;
}

/*FOOTER*/
.footer__banner {
  background: #cbf5ff;
  background: -webkit-gradient(linear, left top, right top, from(#cbf5ff), to(#33adc8));
  background: linear-gradient(90deg, #cbf5ff 0%, #33adc8 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__banner .contenedor {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__banner .contenedor .texto {
  padding: 40px 40px;
}

.footer__banner .contenedor .texto h3 {
  font-size: 27px;
}

.footer__banner .contenedor .texto p {
  font-size: 18px;
}

.footer__banner .contenedor .texto h4 {
  font-size: 19px;
  font-weight: 600;
}

.footer__banner .contenedor .foto {
  max-width: 500px;
}

.footer__banner .contenedor .foto img {
  width: 100%;
}

.footer iframe {
  padding: 10px;
  width: 100%;
  height: 300px;
}

.footer .social {
  background-color: #75B8C8;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .social ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

.footer .social ul li {
  margin: 0 10px;
}

.footer .social ul li a img {
  width: 40px;
}

.footer .social p {
  font-size: 1rem;
  text-align: center;
  margin: 15px 0;
}

/*BANNER SECUNDARIO*/
.main__bannerDos {
  width: 100%;
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-image: url(../src/multimedia/fotos/2banner.jpg);
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__bannerDos::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.671);
  z-index: -1;
}

/*BANNER Y SUBSECTION INDEX*/
.main {
  overflow: hidden;
}

.main__banner {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: url(../src/multimedia/fotos/Banner2k.jpg);
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__banner .main__bannerText {
  font-size: 1.313rem;
  color: #75B8C8;
  width: 700px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__banner .main__bannerText .main__bannerImg {
  width: 300px;
}

.main__banner .main__bannerText .main__BannerParrafo {
  margin: 20px 0;
  font-weight: 600;
  text-shadow: 5px 5px 5px #090C02;
}

.main__banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 39, 36, 0.671);
  z-index: -1;
}

.main__subsection {
  padding: 80px 0;
}

.main__subsection .main__subsectionText {
  width: 100%;
}

.main__subsection .main__subsectionText h2 {
  color: #220C10;
  font-size: 2.625rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}

.main__subsection .main__subsectionText h2 span {
  font-weight: 600;
}

.main__subsection .main__subsectionText h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #75B8C8;
  z-index: -1;
}

.main__subsection .main__subsectionText h3 {
  font-size: 1.313rem;
  font-weight: 600;
}

.main__subsection .main__subsectionText p {
  font-size: 1.125rem;
}

.main__subsection .main__subsectionImg {
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-box-shadow: 3px 4px 7px #220C10;
          box-shadow: 3px 4px 7px #220C10;
}

.main__subsection .main__subsectionImgText {
  text-align: center;
  margin-top: 10px;
  font-size: 1.25rem;
  font-weight: 600;
}

/*CONTACTO*/
.main__contact {
  padding: 40px 0;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.main__contact .contactInfo {
  width: 100%;
}

.main__contact .contactInfo h2 {
  font-size: 2.625rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}

.main__contact .contactInfo h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #75B8C8;
  z-index: -1;
}

.main__contact .contactInfo .envianosP {
  font-size: 1.125rem;
}

.main__contact .form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__contact .formItem--size {
  width: 100%;
  font-size: 1.125rem;
  padding: 7px 10px;
}

.main__contact .formItem {
  margin-bottom: 15px;
}

.main__contact .enviar {
  background-color: #75B8C8;
  border: 0;
  border-radius: 3px;
  font-weight: 600;
}

.main__contact .enviar:hover {
  background-color: #5ea8bb;
}

/* BOTON DE CONTACTO Y MODAL */
.boton {
  border: 0;
  position: fixed;
  bottom: 30px;
  left: 30px;
  background: none;
  border: 3px solid #75B8C8;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background-color: #CDD3D5;
}

.boton img {
  width: 50px;
  height: 50px;
}

.modal-header h5 {
  font-weight: 600;
}

.modal-content--styles {
  background-color: #CDD3D5;
  border: 3px solid #75B8C8;
}

.modal-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*PREGUNTAS*/
.main__tencoPreguntas {
  padding: 40px 0;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.main__tencoPreguntas h2 {
  font-size: 2.625rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}

.main__tencoPreguntas h2 span {
  font-weight: 600;
}

.main__tencoPreguntas h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #75B8C8;
  z-index: -1;
}

.main__tencoPreguntas .accordeonPreguntas {
  padding: 40px 0;
}

.main__tencoPreguntas .accordeonPreguntas .preguntasItem {
  margin-bottom: 15px;
  z-index: 0;
}

.main__tencoPreguntas .accordeonPreguntas .preguntasItem .preguntasHeader .preguntasButton {
  background-color: #CDD3D5;
  border: 3px solid black;
  font-size: 1.25rem;
  padding: 10px 15px 13px 50px;
}

.main__tencoPreguntas .accordeonPreguntas .preguntasItem .preguntasHeader .preguntasButton:not(.collapsed) {
  color: #220C10;
  background-color: #CDD3D5;
}

.main__tencoPreguntas .accordeonPreguntas .preguntasItem .preguntasHeader .preguntasButton:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  z-index: 0;
}

.main__tencoPreguntas .accordeonPreguntas .preguntasItem .preguntasHeader .preguntasButton::after {
  position: absolute;
  left: 0;
  top: 15px;
  margin-left: 13px;
  background-image: url("../../../src/multimedia/fotos/flechadown.png");
}

.main__tencoPreguntas .accordeonPreguntas .preguntasItem .preguntasHeader .preguntasButton:hover {
  z-index: 0;
}

.main__tencoPreguntas .accordeonPreguntas .preguntasItem .preguntasBody {
  background-color: #CDD3D5;
  border-top: 0;
  border-left: 2px solid #a0a8aa;
  border-right: 2px solid #a0a8aa;
  border-bottom: 2px solid #a0a8aa;
  font-size: 1.125rem;
}

/*PRODUCTOS*/
.main__galeria {
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;
}

.main__galeria .presentacionGaleria {
  padding-bottom: 40px;
}

.main__galeria .presentacionGaleria h2 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  font-size: 2.625rem;
}

.main__galeria .presentacionGaleria h2 span {
  font-weight: 600;
}

.main__galeria .presentacionGaleria h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #75B8C8;
  z-index: -1;
}

.main__galeria .presentacionGaleria h3 {
  font-size: 1.313rem;
}

.main .contenedorTienda {
  max-width: 100%;
}

.main .contenedorTienda .row > * {
  padding: 0;
}

.main .contenedorTienda .row > * .tarjeta {
  border: 1px solid #b9c8ce;
  border-radius: 4px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.main .contenedorTienda .row > * .tarjeta .muestra {
  width: 230px;
}

.main .contenedorTienda .row > * .tarjeta .muestra img {
  width: 100%;
}

.main .contenedorTienda .row > * .tarjeta .informacion {
  margin-top: 5px;
  width: 230px;
}

.main .contenedorTienda .row > * .tarjeta .informacion h4 {
  height: 45px;
  font-size: 16px;
  font-weight: 600;
  padding-left: 5px;
  margin: 0 0 5px 0;
}

.main .contenedorTienda .row > * .tarjeta .informacion p {
  padding-left: 5px;
  margin: 0;
}

.main .contenedorTienda .row > * .tarjeta .comprar {
  text-align: center;
  padding: 20px 0 15px 0;
}

.main .contenedorTienda .row > * .tarjeta .comprar button {
  padding: 4px 12px 6px 12px;
  border-radius: 3px;
  border: 0;
  background-color: #CDD3D5;
  font-weight: 600;
  color: #220C10;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.main .contenedorTienda .row > * .tarjeta .comprar button:hover {
  background-color: #75B8C8;
  color: #CDD3D5;
}

.main .contenedorTienda .row > * .tarjeta:hover {
  -webkit-box-shadow: 1px 1px 10px #75797a;
          box-shadow: 1px 1px 10px #75797a;
}

/*SERVICIOS*/
.main__servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
  padding-bottom: 3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__serviciosPrincipales {
  padding: 0 15px 0 15px;
  max-width: 570px;
  width: 100%;
}

.main__serviciosPrincipales h2 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 2.625rem;
  margin-bottom: 30px;
  position: relative;
}

.main__serviciosPrincipales h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #75B8C8;
  z-index: -1;
}

.main__serviciosPrincipales ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main__serviciosPrincipales ul li {
  margin-bottom: 5px;
  font-size: 1.125rem;
  position: relative;
  padding-left: 10px;
}

.main__serviciosPrincipales ul li::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  width: 6px;
  height: 5px;
  border-radius: 100%;
  background-color: #75B8C8;
  z-index: -1;
}

.main__accordion {
  max-width: 570px;
  width: 100%;
  padding: 0 15px 0 15px;
  padding-top: 80px;
}

.main__accordion .accordionItem {
  margin-bottom: 15px;
  z-index: 0;
}

.main__accordion .accordionItem .accordionHeader .accordionButton {
  background-color: #CDD3D5;
  border: 3px solid black;
  font-size: 1.25rem;
  padding: 10px 15px 13px 50px;
}

.main__accordion .accordionItem .accordionHeader .accordionButton:not(.collapsed) {
  color: #220C10;
  background-color: #CDD3D5;
}

.main__accordion .accordionItem .accordionHeader .accordionButton:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  z-index: 0;
}

.main__accordion .accordionItem .accordionHeader .accordionButton::after {
  position: absolute;
  left: 0;
  top: 15px;
  margin-left: 13px;
  background-image: url("../../../src/multimedia/fotos/flechadown.png");
}

.main__accordion .accordionItem .accordionHeader .accordionButton:hover {
  z-index: 0;
}

.main__accordion .accordionItem .accordeonBody {
  background-color: #CDD3D5;
  border-top: 0;
  border-left: 2px solid #a0a8aa;
  border-right: 2px solid #a0a8aa;
  border-bottom: 2px solid #a0a8aa;
  font-size: 1.125rem;
}

.main__accordion .accordionItem .accordeonBody ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main__camaraService {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 5rem;
}

.main__camaraService .imagen {
  max-width: 570px;
  width: 100%;
  padding: 0 15px 40px 15px;
}

.main__camaraService .imagen img {
  width: 100%;
}

.main__camaraService .texto {
  max-width: 570px;
  width: 100%;
  padding: 0 15px 0 15px;
}

.main__camaraService .texto h3 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.main__camaraService .texto p {
  font-size: 1.125rem;
  margin-bottom: 5px;
}

/*MEDIA QUERY*/
@media only screen and (max-width: 1200px) {
  .main__servicios {
    padding-top: 3rem;
  }
  .main__serviciosPrincipales {
    padding: 0 15px 0 15px;
    width: 495px;
  }
  .main__accordion {
    width: 495px;
  }
  .main__camaraService .imagen {
    width: 495px;
  }
  .main__camaraService .texto {
    width: 495px;
  }
  .main__contact {
    max-width: 982px;
  }
}

@media only screen and (max-width: 992px) {
  .header {
    height: 80px;
  }
  .header__menu .menuLista .menuItem {
    font-size: 1.188rem;
  }
  .main__banner {
    height: 60vh;
  }
  .main__banner .main__bannerText {
    font-size: 1.125rem;
    width: 500px;
  }
  .main__banner .main__bannerText .main__bannerImg {
    width: 200px;
  }
  .main__subsection {
    padding: 80px 0;
  }
  .main__subsection .main__subsectionText {
    width: 100%;
  }
  .main__subsection .main__subsectionText h2 {
    font-size: 2.313rem;
  }
  .main__subsection .main__subsectionText h3 {
    font-size: 1.125rem;
  }
  .main__subsection .main__subsectionText p {
    font-size: 1.063rem;
  }
  .main__subsection .main__subsectionImg {
    width: 90%;
  }
  .main__subsection .main__subsectionImgText {
    font-size: 1.063rem;
  }
  .main__serviciosPrincipales {
    width: 380px;
  }
  .main__accordion {
    width: 380px;
  }
  .main__camaraService .imagen {
    width: 380px;
  }
  .main__camaraService .texto {
    width: 380px;
  }
  .main__contact {
    max-width: 982px;
  }
  .main__galeria {
    max-width: 800px;
  }
  .main__contact {
    max-width: 757px;
  }
  .main__contact .contactInfo h2 {
    font-size: 2.313rem;
  }
  .main__contact .contactInfo .envianosP {
    font-size: 1.063rem;
  }
  .main__contact .formItem--size {
    font-size: 1.063rem;
  }
  .main__tencoPreguntas h2 {
    font-size: 2.313rem;
  }
  .main__tencoPreguntas h2::after {
    height: 3px;
  }
  .main__tencoPreguntas .accordeonPreguntas {
    padding: 30px 0;
  }
  .main__tencoPreguntas .accordeonPreguntas .preguntasItem .preguntasHeader .preguntasButton {
    font-size: 1.063rem;
  }
  .main__tencoPreguntas .accordeonPreguntas .preguntasItem .preguntasBody {
    font-size: 1.063rem;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__logo {
    margin-left: 40px;
  }
  .header__menu .menuRespon {
    margin-right: 40px;
  }
  .header__menu .menuRespon {
    display: block;
    width: 2.5rem;
    height: 3rem;
  }
  .header__menu .menuLista {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #CDD3D5;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    border-bottom: 5px solid #75B8C8;
  }
  .header__menu .menuLista .menuItem {
    width: 100%;
    margin: 0;
  }
  .header__menu .menuLista .menuItem .itemLink {
    display: inline-block;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    border-radius: 0;
  }
  .header__menu #menuBar:checked ~ .menuLista {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .main__subsection .main__subsectionText {
    width: 80%;
  }
  .main__subsection .main__subsectionImg {
    width: 80%;
  }
  .main__galeria {
    max-width: 600px;
  }
  .main__serviciosPrincipales {
    width: 80%;
  }
  .main__accordion {
    width: 80%;
  }
  .main__camaraService .imagen {
    width: 80%;
  }
  .main__camaraService .texto {
    width: 80%;
  }
  .main__contact {
    max-width: 460px;
  }
  .main__tencoPreguntas {
    width: 90%;
  }
  .boton {
    display: none;
  }
  .footer__banner .contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__banner .contenedor .texto {
    padding: 40px 40px;
  }
  .footer__banner .contenedor .texto h3 {
    font-size: 1.5rem;
  }
  .footer__banner .contenedor .texto p {
    font-size: 1rem;
  }
  .footer__banner .contenedor .texto h4 {
    font-size: 1.063rem;
  }
  .footer__banner .contenedor .foto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__banner .contenedor .foto img {
    width: 80%;
  }
  .footer .social {
    background-color: #75B8C8;
    padding: 30px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .social ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    margin: 0;
  }
  .footer .social ul li {
    margin: 0 10px;
  }
  .footer .social ul li a img {
    width: 35px;
  }
  .footer .social p {
    font-size: 1rem;
    text-align: center;
    margin: 15px 0;
  }
}

@media only screen and (max-width: 470px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__logo {
    margin-left: 15px;
  }
  .header__menu .menuRespon {
    margin-right: 15px;
  }
  .main__banner {
    height: 90vh;
  }
  .main__banner .main__bannerText {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 1rem;
    font-size: 1rem;
    width: 100%;
  }
  .main__banner .main__bannerText .main__bannerImg {
    width: 150px;
  }
  .main__subsection .main__subsectionText h2 {
    font-size: 2rem;
  }
  .main__subsection .main__subsectionText h3 {
    font-size: 1.068rem;
  }
  .main__subsection .main__subsectionText p {
    font-size: 1rem;
  }
  .main__subsection .main__subsectionImgText {
    font-size: 1rem;
  }
  .main__contact {
    max-width: 310px;
  }
  .main__contact .contactInfo {
    width: 100%;
  }
  .main__contact .contactInfo h2 {
    font-size: 2rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    position: relative;
  }
  .main__contact .contactInfo h2::after {
    height: 3px;
  }
  .main__contact .contactInfo .envianosP {
    font-size: 1rem;
  }
  .main__contact .formItem--size {
    font-size: 1rem;
  }
  .main__tencoPreguntas h2 {
    font-size: 2rem;
  }
  .main__tencoPreguntas h2::after {
    height: 3px;
  }
  .main__tencoPreguntas .accordeonPreguntas {
    padding: 20px 0;
  }
  .main__tencoPreguntas .accordeonPreguntas .preguntasItem .preguntasHeader .preguntasButton {
    font-size: 1rem;
  }
  .main__tencoPreguntas .accordeonPreguntas .preguntasItem .preguntasBody {
    font-size: 1rem;
  }
  .footer__banner .contenedor {
    width: 360px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__banner .foto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__banner .foto img {
    width: 70%;
  }
}
/*# sourceMappingURL=main.css.map */