/*CONTACTO*/

.main{
    &__contact{
        padding: 40px 0;
        max-width: 1200px;
        display: flex;
        margin: auto;
        .contactInfo{
            width: 100%;
            h2{
                font-size: $h2-fontSz;
                width: max-content;
                position: relative;
            }
            h2::after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 4px;
                background-color: #75B8C8;
                z-index: -1;
            }
            .envianosP{
                font-size: $p-fontSz;
            }
        }
        .form{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .formItem--size{
            width: 100%;
            font-size: $p-fontSz;
            padding: 7px 10px;
        }

        .formItem{
            margin-bottom: 15px;
        }

        .enviar{
            background-color: #75B8C8;
            border: 0;
            border-radius: 3px;
            font-weight: $bold600;
        }
        .enviar:hover{
            background-color: #5ea8bb;
        }
    }
}


.boton{
    border: 0;
    position: fixed;
    bottom: 30px;
    left: 30px;
    background: none;
    border: 3px solid #75B8C8;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    background-color: $bg-color;
    img{
        width: 50px;
        height: 50px;
    }
}

.modal-header{
    h5{
        font-weight: $bold600;
    }
}
.modal-content--styles{
    background-color: $bg-color;
    border: 3px solid #75B8C8;
}

.modal-body{
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

@media only screen and (max-width:1200px){

    .main{
        &__contact{
            max-width: 982px;
        }
    }
}

@media only screen and (max-width:992px){

    .main{
        &__contact{
            max-width: 757px;
            .contactInfo{
                h2{
                    font-size: $h2-fontSz992;
                }
                .envianosP{
                    font-size: $p-fontSz992;
                }
            }
            .formItem--size{
                font-size: $p-fontSz992;
            }
        }
    }
}

@media only screen and (max-width:767px){

    .main{
        &__contact{
            max-width: 460px;
        }
    }
    .boton{
        display: none;
    }
}


@media only screen and (max-width:470px){

    .main{
        &__contact{
            max-width: 310px;
            .contactInfo{
                width: 100%;
                h2{
                    font-size: $h2-fontSz470;
                    width: max-content;
                    position: relative;
                }
                h2::after{
                    height: 3px;
                }
                .envianosP{
                    font-size: $p-fontSz470;
                }
            }
            .formItem--size{
                font-size: $p-fontSz470;
            }
        }
    }
}