/*CONTACTO*/

.main{
    &__contact{
        padding: 40px 0;
        max-width: 1200px;
        display: flex;
        margin: auto;
        .contactInfo{
            width: 100%;
            h2{
                font-size: $h2-fontSz;
                width: max-content;
                position: relative;
            }
            h2::after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 4px;
                background-color: #75B8C8;
                z-index: -1;
            }
            .envianosP{
                font-size: $p-fontSz;
            }
        }
        .form{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .formItem--size{
            width: 100%;
            font-size: $p-fontSz;
            padding: 7px 10px;
        }

        .formItem{
            margin-bottom: 15px;
        }

        .enviar{
            background-color: #75B8C8;
            border: 0;
            border-radius: 3px;
            font-weight: $bold600;
        }
        .enviar:hover{
            background-color: #5ea8bb;
        }
    }
}

/* BOTON DE CONTACTO Y MODAL */

.boton{
    border: 0;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: none;
    border: 3px solid #75B8C8;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: $bg-color;
    img{
        width: 30px;
        height: 30px;
    }
}

.modal-header{
    h5{
        font-weight: $bold600;
    }
}
.modal-content--styles{
    background-color: $bg-color;
    border: 3px solid #75B8C8;
}

.modal-body{
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
}