.main{
    &__banner{
        width: 100%; 
        height: 100vh;
        background-position: center; 
        background-size: cover; 
        background-image: url(../src/multimedia/fotos/Banner.jpg); 
        background-repeat: no-repeat; 
        position: relative;
        z-index: 1; 
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .main__bannerText{
            font-size: 22px ;
            color: #75B8C8;
            width: 700px;
            display: inline-flex;
            align-items: center;
            .main__bannerImg{
                width: 300px;
            }
            .main__BannerParrafo{
                margin: 20px 0;
                font-weight: 600;
                text-shadow: 5px 5px 5px #090C02;
            }    
        }
    }
    &__banner::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(30, 39, 36, 0.671);
        z-index: -1;
    }

  
    &__subsection{
        padding: 80px 0;
        .main__subsectionText{
            width: 100%;
            h2{
                color: #220C10;
                font-size: $title-Size;
                span{
                    font-weight: 600;
                }
            }
        }
            
        .main__subsectionImg{
            width: 100%;
            height: 100%;
            cursor: pointer;   
            box-shadow: 3px 4px 7px #220C10;
            }

        .main__subsectionImgText{
            text-align: center;
            margin-top: 10px;
        }
    }
}
    

    
