
.main{
    &__servicios{
        display: flex;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 3rem;
        flex-wrap: wrap;
        
    }
    &__serviciosPrincipales{
        padding: 0 15px 0 15px;
        max-width: 570px;
        width: 100%;
        h2{
            width: max-content;
            font-size: $h2-fontSz;
            margin-bottom: 30px;
            position: relative;
        }
        h2::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: #75B8C8;
            z-index: -1;
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                margin-bottom: 5px;
                font-size: $p-fontSz;
                position: relative;
                padding-left: 10px;
            }
            li::after{
                content: "";
                position: absolute;
                top: 16px;
                left: 0;
                width: 6px;
                height: 5px;
                border-radius: 100%;
                background-color: #75B8C8;
                z-index: -1;
            }
        }
    }

    &__accordion{
        max-width: 570px;
        width: 100%;
        padding: 0 15px 0 15px;
        padding-top: 80px;
        
        .accordionItem{
            margin-bottom: 15px;
            z-index: 0;
            .accordionHeader{
                .accordionButton{
                    background-color:$bg-color;
                    border: 3px solid black;
                    font-size: $h4-fontSz;
                    padding: 10px 15px 13px 50px;
                }
                .accordionButton:not(.collapsed){
                    color: #220C10;
                    background-color: $bg-color;
                }
                .accordionButton:focus {
                    box-shadow: none;
                    z-index: 0;
                }
                .accordionButton::after {
                    position: absolute;
                    left: 0;
                    top: 15px;
                    margin-left: 13px;
                    background-image: url("../../../src/multimedia/fotos/flechadown.png");
                  }
                .accordionButton:hover {
                    z-index: 0;
                  }
                }
                .accordeonBody{
                    background-color: $bg-color;
                    border-top: 0;
                    border-left: 2px solid #a0a8aa;
                    border-right: 2px solid #a0a8aa;
                    border-bottom: 2px solid #a0a8aa;
                    font-size: $p-fontSz;
                    ul{
                        padding: 0;
                        margin: 0;
                        list-style: none;
                    }
                    }
            }

        }
    &__camaraService{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 5rem;

        .imagen{
            max-width: 570px;
            width: 100%;
            padding: 0 15px 40px 15px;
            img{
                width: 100%;
            }
        } 
        .texto{
            max-width: 570px;
            width: 100%;
            padding: 0 15px 0 15px;
            h3{
                font-size: $h3-fontSzCamera;
                margin-bottom: 30px;
            }
            p{
                font-size: $p-fontSz;
                margin-bottom: 5px;
            }
        }
    }
}