.main{
    &__servicios{
        display: flex;
        justify-content: center;
        padding-top: 5rem;
        padding-bottom: 3rem;
        flex-wrap: wrap;
        
    }
    &__serviciosPrincipales{
        padding: 0 15px 0 15px;
        width: 570px;
        h2{
            font-size: $h2-fontSz;
            margin-bottom: 30px;
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                margin-bottom: 5px;
                font-size: $p-fontSz;
            }
        }
    }
    &__serviciosDesplegable{
        width: 570px;
        padding: 0 15px 0 15px;
        ul{
            list-style: none;
            padding: 0;
            width: 500px;
            padding-top: 70px;
            li{
                display: flex;
                align-items: center;
                border: black 1px solid;
                height: 50px;
                margin-bottom: 15px;
                .flecha{
                    border-right: 1px solid black;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding: 0 15px 0 15px;
                    img{
                        height: 16px;
                        width: 16px;
                        
                    }
                }
                .texto{
                padding-left: 15px ;                    
                    p{
                        margin: 0;
                        font-size: $p-fontSz;
                        font-weight: $bold600;
                    }
                }
            }
        }
    }

    &__camaraService{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 5rem;

        .imagen{
            width: 570px;
            padding: 0 15px 40px 15px;
            img{
                width: 100%;
            }
        } 
        .texto{
            width: 570px;
            padding: 0 15px 0 15px;
            h3{
                font-size: $h3-fontSzCamera;
                margin-bottom: 30px;
            }
            p{
                font-size: $p-fontSz;
                margin-bottom: 5px;
            }
        }
    }
}