/*HEADER*/

.header{
    display: flex;
    flex-direction: row;
    background-color:#CDD3D5;
    position: fixed;
    width: 100%;
    height: 90px;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    box-shadow: 0 1px 10px #220C10;
    font-weight: 600;
    &__logo{
        height: 100%;
        img{
            height: 100%;
            padding: 10px;
        }
    }
    &__menu{
        display: flex;
        align-items: center;
        .menuRespon{
            display: none;
            width: 3.125rem;
            height: 50px;
            cursor: pointer;
        }
        #menuBar{
            display: none;
        }
        .menuLista{
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;
            .menuItem{
                font-size: $header-fontSz;
                margin: 0 5px;
                .itemLink{
                    text-decoration: none;
                    color:#220C10;
                    padding: 7px 10px 10px 10px;
                    border-radius: 5px;
                }
                .itemLink:hover{
                    background-color: #75B8C8;
                    transition: background 0.3s , color 0.4s; 
                    color: #CDD3D5;
                 }
             }
         }
    }

}
