$bg-color: #CDD3D5;

/* header */
$header-fontSz: 1.313rem;  /* 21px */
$header-fontSz992: 1.188rem; /*19px */

/* banner */
$banner-fontSz: 1.313rem; /* 21px */
$banner-fontSz992: 1.125rem; /* 18px */
$banner-fontSz470: 1rem; /*16px */

/* titulos (h1 - h6) */
$h2-fontSz: 2.625rem; /* 42px */
$h2-fontSz992: 2.313rem; /* 37px */
$h2-fontSz470: 2rem; /* 32 */

$h3-fontSz: 1.313rem; /* 21px */
$h3-fontSz992: 1.125rem; /* 18px */
$h3-fontSz470: 1.068rem; /* 17px */

$h3-fontSzCamera: 2rem; /* 32 */ 

$h4-fontSz: 1.25rem; /* 20 */
$h4-fontSz992: 1.063rem; /* 17 */
$h4-fontSz470: 1rem; /* 16 */

/* parrafos */
$bold600: 600;

/* negrita */

$p-fontSz: 1.125rem; /* 18px */
$p-fontSz992: 1.063rem; /* 17px */
$p-fontSz470: 1rem; /* 16px */